# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* explore
* sort
* analyze
* reach conclusions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. Apache Spark

<table><tr><th>Data Science tools</th></tr><tr><td>Orange</td></tr><tr><td>KNIME</td></tr><tr><td>Apache Zeppelin</td></tr></table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Taras Mikhailovich Tiunov